

.TopInfoPh {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}


.TopInfoPh_Border {
    border-radius: 0.5rem;
    border: solid 1px rgb(115, 124, 137);
    padding: 2px;
}

.TopInfoPh_Padding {
    /* padding: 5px */
}

.TopInfoPh_Customer {
    flex: 0 0 35%;
    /* Chiếm 4 cột (33.33% của 12 cột) */
    /* max-width: 35%; */
    /* Không giãn quá 33.33% */
    /* background-color: lightblue; */
    box-sizing: border-box;
    margin-right: 10px;
}

.TopInfoPh_Address {
    flex: 0 0 45%;
    /* Chiếm 4 cột (33.33% của 12 cột) */
    /* max-width: 35%; */
    /* Không giãn quá 33.33% */
    /* background-color: lightblue; */
    box-sizing: border-box;
    margin-right: 10px;
}

.TopInfoPh_DateVoucher {
    flex: 0 0 17%;
    /* Chiếm 4 cột (33.33% của 12 cột) */
    /* max-width: 35%; */
    /* Không giãn quá 33.33% */
    /* background-color: lightblue; */
    box-sizing: border-box;
}

.TopInfoPh_MethodPayment {
    flex: 0 0 35%;
    /* Chiếm 4 cột (33.33% của 12 cột) */
    max-width: 35%;
    /* Không giãn quá 33.33% */
    /* background-color: lightblue; */
    box-sizing: border-box;
    /* Đảm bảo padding không làm thay đổi chiều rộng */
}